<!-- views/profiles/home_settings.html.erb-->
<div class="row after_navbar"> 
	<div class="col-md-3">
		<div class="home_profile_left_container">
			<%= image_tag(current_user.avatar.url(:medium), class:"round-image-125") %>
			<span id="display_user_name_hprofile"> <%= current_user.name %> </span>
			<div class="new_listing_buttton_container">      
	        	<div class="actions">
		            <%= link_to("create new listing", "/", class:"btn btn-default new_listing_button" ) %>
	          	</div>      
	    	</div>
	    </div>
	</div>
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-12">
				<p class="home_profile_heading">home profile</p>
				<div class="checkbox home_profile_on">
					 <label><input type="checkbox" value="">listing on</label>
				</div>
				<div class="checkbox home_profile_off">
				  <label><input type="checkbox" value="">listing off</label>
				</div>
			</div>		
		</div>
		<div class="row">
			<div class="col-md-12 box_border_2">
				<div class="bd-example" data-example-id="">
					<div class="form-group row">
					  	<label for="exampleTextarea" class="col-xs-2 col-form-label">description
					  	</label>
					    <div class="col-xs-10">
					    	<textarea class="form-control" id="exampleTextarea" rows="3" placeholder="describe your space (i.e Breezy Key West bungalow)"></textarea>
					    </div>
					</div>
					<div class="form-group row">
					  	<label for="example-text-input" class="col-xs-2 col-form-label">location
					  	</label>
						 <div class="col-xs-10">
						    <input class="form-control edit_home_profile_field" type="text" id="example-text-input" placeholder="city / state / country">
						  </div>
					</div>
					<div class="form-group row">
						<label for="example-search-input" class="col-xs-2 col-form-label">beds
						</label>
						<div class="col-xs-10">
						    <input class="form-control edit_home_profile_field" type="search" placeholder="1" id="example-search-input">
						</div>
					</div>
					<div class="form-group row">
						  <label for="example-email-input" class="col-xs-2 col-form-label">baths
						  </label>
						  <div class="col-xs-10">
						    <input class="form-control edit_home_profile_field" type="email" placeholder="1.5" id="example-email-input">
						  </div>
					</div>
					<div class="form-group row">
						  <label for="example-url-input" class="col-xs-2 col-form-label">sq.ft</label>
						  <div class="col-xs-10">
						    <input class="form-control edit_home_profile_field" type="url" placeholder="1,200" id="example-url-input">
						  </div>
					</div>
					<div class="form-group row">
						  <label for="example-tel-input" class="col-xs-2 col-form-label">cats
						  </label>
						  <div class="col-xs-10">
						    <input class="form-control edit_home_profile_field" type="tel" 
						    placeholder="blah">
						  </div>
					</div>
					<div class="form-group row">
						  <label for="example-password-input" class="col-xs-2 col-form-label">capacity</label>
						  <div class="col-xs-10">
						    <input class="form-control edit_home_profile_field" type="password" placeholder="sleeps 1-4 adults" id="example-password-input">
						  </div>
					</div>					
					<div class="form-group row">
				      <div class="col-xs-2"></div>
				      <div class="col-xs-8">
				        <button type="submit" class="btn btn-default btn-sm housing_submit">save</button>
				      </div>
				    </div>
				</div> <!-- bd-example -->
			</div> <!-- box_border_2 -->
		</div> <!-- row  -->
	</div> <!-- col md 8 -->
	<div class="col-md-1"></div>
</div>