<!-- views/profiles/sitter_settings.html.erb -->

<div class="container-fluid">


<!--_____ HEADER LOGO/ICONS _______________________________________________________________________-->

  <header>
    <div class="row home_header">
      <div class="col-md-8">
        <p> <h3> purravida </h3> </p>
      </div>
      <div class="col-md-4 other_sm_icons">
        <a href="https://www.instagram.com/kit_and_kaboodle/?hl=en"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/rachel.mahan.9"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
        <i class="fa fa-snapchat fa-2x" aria-hidden="true"></i>
      </div>
    </div>
  </header>

  <div class="row"




 </div> <!-- container fluid -->