


<div class="row main_new_user">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  	<br>
  	<%= devise_error_messages! %>
  	<p class="form_header_pw"> forgot your password? </p>
  	<p class="form_header_pw_p2"> no problem, we've got you. 
  		<br>	
  		password reset instructions will be sent to you via email on file.</p>



<!--_____ SIGN IN FORM BOXES _____________________________________________________________________-->
      <div class="form-group">
        <div class="row">

          <div clas="col-md-12">
          	<div class="field forgot_password_email_box">
    			<%= f.email_field :email, autofocus: true, class: "form-control log_in_form_field_pw_reset", placeholder: "enter email" %>
    		</div>
    		 <div class="field">
    
  			 </div>

			  <div class="actions">
			    <%= f.submit "reset password", class:"btn btn-default btn-lg forgot_password_button"  %>
			  </div>
	<% end %>


          </div> <!-- col-md-12 -->
       </div> <!-- row -->
      </div> <!-- form-group -->
   </div> <!-- col-md-8 -->
</div> <!-- row main_new_user -->










     



           