<!-- HOMEPAGE index.html.erb -->	
<div class="row home_page_body">
	<div class="col-md-4 col-xs-4 picture-col">
		<div class="clearfix" id="picture">
			<img id="sunny_cat" alt="sunny cat" src="/assets/travel_cat.jpeg"/>
		</div>
	</div>
	<div class="col-md-8 col-xs-8 title_col">
		<div class="clearfix" id="title-wrapper">
			<div id="purravida_main_text">Purravida</div>
			<!-- <img src="/assets/purravida-logo.gif" alt="logo" class="purravida_logo"> -->
			<div class="purravida_tagline">Connecting cat-loving travelers</div>
		</div>
	</div>
</div>
<div class="row home_page_body2">	
	<div class="col-md-3 col-xs-3"></div>
	<div class="col-md-6 col-xs-6">		
		<div class="purravida_about">
			<p id="intro"> We know the routine </p>
			<p id="intro_p">
				You're headed out of town and trying to find a last-minute pet sitter. Going out of town shouldn't mean leaving your furry friend alone with extra food (and you with anxiety). Purravida connects you with local cat sitters, a housing swap community, and room to meet some cool people in between. Join our network of feline loving explorers. 
			</p>
			<%= link_to("sign up", new_user_registration_path, class:"btn btn-default btn-lg su_home") %>
		</div>
	</div>
	<div class="col-md-3 col-xs-3"></div>
</div>

<div class="row home_page_body3">	
	<div class="col-md-4 col-xs-4">
		<i class="fa fa-plane fa-6" aria-hidden="true"></i>
		<span class="feature_headings">TRAVEL</span>
	</div>
	<div class="col-md-4 col-xs-4">
		<i class="fa fa-hand-peace-o fa-6 connect" aria-hidden="true"></i>
		<span class="feature_headings">CONNECT</span>
	</div>
	<div class="col-md-4 col-xs-4">	
		<i class="fa fa-home fa-6" aria-hidden="true"></i>
		<span class="feature_headings">SITTING</span>
	</div>		
</div>
	





