<!-- index.html.erb -->


	
<div class="row home_page_body">
	<div class="col-md-8 col-xs-12">
		<div class="jumbotron about_j">
			<h1>purravida</h1>
			<img src="/assets/purravida-logo.gif" alt="logo" class="purravida_logo">
			<p>connecting cat loving travelers</p>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<%= link_to("sign up", new_user_registration_path, class:"btn btn-default btn-lg su_home") %>
		<%= link_to("log in", new_user_session_path, class:"btn btn-default btn-lg li_home" ) %>
	</div>
</div>
	






