<!-- HOMEPAGE index.html.erb -->	
<div class="row home_page_body">
	<div class="col-md-8 col-xs-12">
		<div class="jumbotron about_j">
			<h1>purravida</h1>
			<img src="/assets/purravida-logo.gif" alt="logo" class="purravida_logo">
			<p class="purravida_tagline">connecting cat-loving travelers</p>
			<div class="purravida_about">
				<p >
					going out of town shouldn't mean leaving your furry friend alone with extra food (and you with anxiety). purravida connects you with local cat sitters, a housing swap community, and room to meet some cool people in between. join our network of feline loving explorers. 
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<%= link_to("sign up", new_user_registration_path, class:"btn btn-default btn-lg su_home") %>
		<%= link_to("log in", new_user_session_path, class:"btn btn-default btn-lg li_home" ) %>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-xs-12 test_box">
	testing scroll
	<div>
</div>	
<div class="row">
	<div class="col-md-12 col-xs-12 test_box2">
	testing scroll again 
	<div>
</div>	





