<!-- test.hmtl.erb -->
<body id="scroll_test">
	<h1 class="scroll_test">space</h1>
	<div class="background_test">
		<h3 class="scroll_test">some content</h3>
	</div>
	<section class="parallax">
		<div class="parallax-inner">
			<h2>space</h2>
		</div>
	</section>
	<h1 class="scroll_test">space</h1>
</body>