// USER PROFILE SHOW ______________________________________________________
.clearfix:after{
	content:"";
	display: block;	
	clear: both;

}
.profile_box{
    border-radius: 25px;
    margin-top: 5%;
    padding-bottom: 4%;
    background-color: rgba(238, 238, 238, 0.3);
    width: 100%;
}
.lead {
	margin-top: 3%;
	line-height: 135%;
}
#profile_name {
    margin-bottom: 1%;
}
#profile_text {
	margin-top: 13%;
    padding-right: 5%;
}
.round-image-125-show {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px; 
    text-align: center;
    vertical-align: top;
    width: 90%;
    margin-top: 13%;
}
.edit_profile_button {
	width: 65%;
	height: 52px;
	margin-left: 17%;
	margin-top: 3%;
}

// HOME SETTINGS __________________________________________________________

.after_navbar {
	// Height of the navbar
		//       |
	margin-top: 61px;
}
.round-image-125 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px; 
    text-align: center;
    vertical-align: top;
    width: 90%;
    margin-top: 23%;
}
.box_border_2 {
	border: 2px solid;
    border-radius: 25px;
    margin-top: 1%;
    margin-left: 7%;
    padding: 3%;
    background-color: rgba(238, 238, 238, 0.3);
    width: 90%;
}
.home_profile_heading {
	text-align: center; 
    font-size: 52px;
    margin-top: 4%;
}
.home_profile_left_container{
	margin-left: 16%;
}
#display_user_name_hprofile{
	text-align: center;
    display: inherit;
    font-size: 27px;
    margin-right: 11%;
    margin-top: 2%;
}
.new_listing_button {
	width: 83%;
	height: 52px;
	background-color: rgba(134,187,191,0.7);
	padding-top: 6%;
	font-size: 91%;
	margin-top: 5%;
}
.home_profile_on {
	display: inline-block;
	margin-left: 36%;
	margin-top: -1%;
}
.home_profile_off {
	display: inline-block;
	margin-left: 1%;
	margin-top: 50%;
}
.edit_home_profile_field{
	height: 52px;
	width: 99%;
}
.home_edit {
	margin-top: 2%;
}
.housing_submit {
	width: 38%;
    margin-left: 50%;
    margin-top: 2%;
    height: 53px;
}