// ____________________HOME PAGE HEADER______________________________________
.other_navbar_text {
	font-family: 'Lato', sans-serif;
    letter-spacing: -0.04em;
    line-height: 1.1em;
}

.purravida_tagline {
	font-family: 'Lato', sans-serif;
}

// ____________________HOME PAGE HEADER______________________________________

.picture-col {
	padding-right: 0;
	padding-left: 0;
}
#picture {
	width: 100%;
}
#sunny_cat {
	width: 100%;
}
.home_header {
	background-color: #EEE;
	height: 60px;
}

.purravida_logo_header {
	display: inline-block;
    height: 43px;
    width: 47%;
    margin-top: 7%;
    text-align: center;
}
.navbar_header_area {
	text-align: center;
}
.purravida_navbar_text {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin-left: -20%;
    margin-top: 3%;
    font-size: 151%;
    line-height: 1.1em;
    letter-spacing: 1px;
    line-height: 1.1em;
}

.home_sm_icons {
	padding-top: 1%;
	font-size: 100%;
}

.find_us{
	display: inline;
	padding-right: 10%;
}

.fa-instagram {
	padding-right: 10%;
	color: #777;
}
.fa-facebook-square {
	padding-right: 10%;
	color: #777;
}
.fa-snapchat {
	padding-right: 10%;
	color: #777;
}
.icons {
	display: inline;
}
.log_in_navbar {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 1px;
    line-height: 1.1em;
    margin-top: 5%;
    font-size: 120%;
    color: #777;
    padding-left: 3%;
    padding-right: 3%;
}
#login_box{
	border: 3px solid;
    border-radius: 20px;
    border-color: #777;
    width: 107%;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 17%;
    margin-left: 12%;
    display: inline-block;
}


// ____________________HOME PAGE MAIN________________________________________

html, body{
  height: 100%;
  background-color: #E1E2D6;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.home_page_body2{
	height: 600px;
    background-color: #DF5312;
}
#intro {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 1px;
    line-height: 1.1em;
    color: white;
    font-size: 175%;
    margin-top: 14%;
    margin-bottom: 4%;
    text-align: center;
}
#intro:after {
    content:' ';
    display:block;
    border:3px solid #37424A;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    margin-top: 5%;
    width: 17%;
    margin-left: 40%;
}
#intro_p{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 114%;
    text-align: center;
    line-height: 180%
}

.btn-lg {
	background-color: rgba(134,187,191,0.7);
}

.btn-lg.su_home {
	margin-top: 3%;
	margin-bottom: 15%;
    margin-left: 40%;
    display: inline-block;
    background-color: #EEE;
    width: 18%;
    color: #545A5B;
}
.home_page_body3 {
	width: 100vw;
	height: 675px;
	background-color: white;
	padding: 100px 0;
	//padding-top: 10%;
}
.feature_icons {
	margin-left: 7%;
}
.fa-6 {
	font-size: 18em;
	color: #37424A;
}
.plane {
	margin-left: 4%;
}
.travel_about {
	margin-left: 20%;
}
.connect_about {
	margin-left: 20%;
}
.sitting_about {
	margin-left: 20%;
}
.feature_headings {
    color: #DF5312;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 1px;
    line-height: 1.1em;
    font-size: 220%;
    text-align: center;
    display: block;
    margin-top: 6%;
    margin-left: -50%;
    font-weight: bolder;
}
.feature_headings:after {
    content:' ';
    display:block;
    border:3px solid #37424A;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    margin-top: 5%;
    width: 17%;
    margin-left: 42%;
}
.feature_about {
	font-family: 'Lato', sans-serif;
    display: inline-block;
    letter-spacing: -0.04em;
    line-height: 30px;
    text-align: center;
    font-size: 164%;
    margin-top: 8%;
    margin-left: -13%;
    width: 76%;
    color: #777;
}
.home_page_body4, .home_page_body5  {
	width: 100vw;
	height: 675px;
	background-color: white;
	padding: 100px 0;
	margin-top: -4%;
}
.users_pic_box {
	background-color: white;
}
.users_pics {
    height: 25vw;
    width: 105%;
    height: 32vw;
    overflow: hidden;
}
.padding_fix {
	padding-left: 0px;
}
.li_home {
	margin-top: 127%;
    display: inline-block;
    margin-left: -22%;
    padding-left: 24px;
    padding-right: 18px;
    background-color: #EEE;
    width: 30%;
    color: #545A5B;
    background-color: rgba(134,187,191,0.7); // button blue
}

.home_page_body {
	height: 100%;
	background-color: white;
	overflow: hidden;
	min-height: 700px;
}

.container-fluid {
	height: 100%;
	width: 100%;
}

#title-wrapper {
	margin-top: 280px;
}

#purravida_main_text {

    font-family: 'Montserrat', sans-serif;
    color: #37424A;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 8px;
    line-height: 1.1em;
    display: inline-block;
    font-size: 800%;
}

.purravida_logo {
	margin-left: 1%;
    margin-top: -5%;
    size: letter;
    width: 70px;
    height: 58px;
    color:  #545A5B;
}

.purravida_tagline {
	font-size: 175%;
    display: inline-block;
    margin-left: 23%;
    margin-top: 1%;
}

.purravida_about {
	font-size: 18px;
	margin-top: 4%;
    margin-bottom: -14%;
}

h1 {
	display:inline-block;
	margin-top: -8%;
	margin-bottom: -8%;
}
.container-fluid.footer {
	background-color: #DF5312;
	display: inline-block;
    width: 100vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.by_url {
	font-size: 100%;
}

// scroll test
.background_test{
	background: radial-gradient(circle at 0% 50%, rgba(161, 225, 229, 0) 9px, #E1E2D6 10px, rgba(161, 225, 229, 0) 11px) 0px 10px,
			radial-gradient(at 100% 100%, rgba(161, 225, 229, 0) 9px, #E1E2D6 10px, rgba(161, 225, 229, 0) 11px), #F5EFDD;
	background-size: 20px 20px;
	height: 700px;
	width: 100vw;
	margin: 0 auto;
	overflow-x: hidden;
}

#scroll_test{
	margin: 0;
	padding: 0;
	border: 0;
}
.scroll_test{
	text-align: center;
	font-size: 575%;
	color: #4A4444;
	text-transform: uppercase; 
	margin: 45% 0;
	letter-spacing: 1%;
}
h2{
	text-align: center;
	font-size: 275%;
	color: #E5E5E5;
	text-transform: uppercase; 
	letter-spacing: 1%;
}
// start parallax
.parallax{
	background: url("http://www.w3newbie.com/wp-content/uploads/parallax-2.jpg") repeat fixed 100%;
}
.parallax-inner{
	padding-top: 18%;
	padding-bottom: 18%;
}
// end parallax











































