// static.scss

// HEADER STYLING __________________________________
.navbar {

}
.purravida_logo_header {
    max-width: 59px;
    width: 59px;
    margin-left: 2%;
}
#purravida_navbar_text {
    display: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #37424a;
}
.fa {
    color: #37424a;
}
#login_box {
    border: none;
    border-radius: none;
    width: 0;
    padding: 0;
    margin: 0;
}
.log_in_navbar {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.1em;
    font-size: 1.7em;
    color: #37424a;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 4%;
}

// BODY STYLING ____________________________________

// section1_______________
.sunny_cat_col {
    padding: 0;
}
#sunny_cat {
    width: 100%;
    margin-top: -8%;
}
.purravida_header {
    padding: 0;
    margin-top: 25%;
    margin-left: -3%;
}
#purravida_main_text {
    font-family: 'Montserrat', sans-serif;
    color: #37424A;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 1px;
    line-height: 1.1em;
    display: inline-block;
    font-size: 8.3vw;
    margin-bottom: 0;
}
.purravida_tagline {
    font-family: 'Lato', sans-serif;
    font-size: 2.6vw;
    display: inline-block;
    margin-top: -1%;
    margin-left: 14%;
}

// section2_______________
.row.section2 {
    background-color: #df5312;
}
#intro {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 1px;
    line-height: 0.1em;
    color: white;
    font-size: 5.1vw;
    margin-top: 25%;
    margin-bottom: 4%;
    text-align: center;
}
#intro:after {
    content:' ';
    display:block;
    border:2px solid #37424A;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    width: 24%;
    margin-top: 8%;
    margin-bottom: 4%;
    margin-left: 38%;
}
#intro_p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 4.4vw;
    text-align: center;
    line-height: 1.42857143;
    letter-spacing: 0.2px;
    margin-left: 11%;
    margin-right: 11%;
}
.btn-lg.su_home {
    background-color: rgba(134,187,191,0.7);
    background-color: #EEE;
    color: #545A5B;
    display: inline-block;
    font-size: 3.9vw;
    letter-spacing: 0.2px;
    width: 42%;
    margin-top: 2%;
    margin-bottom: 19%;
    margin-left: 29%;
}

// section3_______________
.row.section3 {
    text-align: center;
}
.fa-6 {
    font-size: 25vw;
    color: #37424A;
    margin-top: 15%;
}
.feature_headings {
    color: #DF5312;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 1px;
    line-height: 1.1em;
    font-size: 5.1vw;
    text-align: center;
    font-weight: bolder;
    margin-top: 1%;
}
.feature_headings:after {
    content:' ';
    display:block;
    border:2px solid #37424A;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    width: 24%;
    margin-top: 3%;
    margin-left: 38%;
}
.feature_about {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    display: inline-block;
    letter-spacing: 0.2px;
    line-height: 1.42857143;
    text-align: center;
    font-size: 4.4vw;
    color: #777;
    letter-spacing: inherit;
    margin-left: 11%;
    margin-right: 11%;
}
.connect_about {
    margin-bottom: 15%;
}

// section4_______________
.row.section4 {
    background-color: #DF5312;
    width: 100vw;
    overflow: auto;
}
#intro_users {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 0.1em;
    color: white;
    font-size: 5.1vw;
    margin-top: 20%;
    text-align: center;
}
#intro_users:after {
    content:' ';
    display:block;
    border:2px solid #37424A;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    width: 24%;
    margin-top: 8%;
    margin-bottom: 4%;
    margin-left: 38%;
}
#intro_users_p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 4.4vw;
    text-align: center;
    line-height: 1.42857143;
    letter-spacing: 0.2px;
    margin-left: 11%;
    margin-right: 11%;
}
.users_pics {
    width: 100%;
    height: 33vw;
    overflow: hidden;
}
.table-responsive > thead > tr > th, 
.table-responsive > tbody > tr > th, 
.table-responsive > tfoot > tr > th, 
.table-responsive > thead > tr > td, 
.table-responsive > tbody > tr > td, 
.table-responsive > tfoot > tr > td {
    border: none;
}
.table-responsive {
    width: 97%;
    margin-top: 5%;
    margin-bottom: 0;
    margin-left: 1.5%;
    border: none;
    table-layout: fixed;
}
.thumbnail {
    position:relative;
    overflow:hidden;
    display: table-cell;
    padding: 3px;
}
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(98, 186, 199, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
.caption h3 {
    font-family: 'Lato', sans-serif;
    font-size: 4vw;
    text-align: center;
    letter-spacing: 0.2px;
    position: relative;
    padding: 10px;
    margin-top: 10%;
}
.caption p {
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    letter-spacing: 0.2px;
    line-height: 1.42857143;
    margin-top: -12px;
}

// footer_______________
footer {
    width: 100vw;
    margin-top: 16%;
}
.footer_inner {
    // background-color: #DF5312;
    background-color: #f1824f;
    width: 100vw;
    text-align: center;
    margin-top: -2%;
    border-top: thin double #37424a;
}
.footer_inner a{
    font-size: 2vw;
    letter-spacing: 3px;
    color: white;
    display: inline-block;
    margin-top: -1%;
    margin-bottom: 2%
}


//media queries for when i get to that

// Small devices (landscape phones, 544px and up)
// @media (min-width: 544px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
