// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ____________________HOME PAGE HEADER______________________________________
.home_header {
	background-color: #EEE;
	height: 60px;
}

.purravida_logo_header {
	display: inline-block;
    width: 39%;
    margin-top: 6%;
}

.home_sm_icons {
	padding-top: 1%;
	font-size: 100%;
}

.find_us{
	display: inline;
	padding-right: 10%;
}

.fa-instagram {
	padding-right: 10%;
	color: #545A5B;
}
.fa-facebook-square {
	padding-right: 10%;
	color: #545A5B;
}
.fa-snapchat {
	padding-right: 10%;
	color: #545A5B;
}

// ____________________HOME PAGE MAIN________________________________________
html, body{
  height: 100%;
  background-color: #E1E2D6;
}

.about_j {
	margin-top: 25%;
	padding: 20%;
	color: #545A5B;
}

.su_home {
	margin-top: 80%;
	margin-right: -9%;
	display: inline-block;
	background-color: #EEE;
	width: 30%;
	color: #545A5B;
}
.li_home {
	margin-top: 127%;
    display: inline-block;
    margin-left: -22%;
    padding-left: 24px;
    padding-right: 18px;
    background-color: #EEE;
    width: 30%;
    color: #545A5B;
}

.home_page_body {
	height: 100%;
}

.container-fluid {
	height: 100%;
	width: 100%;
}

.purravida_logo {
	margin-left: 1%;
    margin-top: -5%;
    size: letter;
    width: 70px;
    height: 58px;
    color:  #545A5B;
}

.purravida_tagline {
	font-size: 100%;
    display: inline-block;
    margin-left: 5%;
}

.purravida_about {
	font-size: 18px;
	margin-top: 4%;
    margin-bottom: -14%;
}

h1 {
	display:inline-block;
	margin-top: -8%;
	margin-bottom: -8%;
}